<div id="stud_form">
	<table>
		
		<td><%= u.hidden_field(:role_id, :value => 3)%></td>		
		<tr>
			<th>Ф.И.О</th>		
			<td>
			<%=u.text_field :surname,:size =>20  %><%=" "%>				
			<%=u.text_field :name, :size =>30  %>
			</td>		
		</tr>			
		<tr>
			<th>Username</th>						
			<td><%=u.text_field :username %></td>			
		</tr>									
		<tr>
			<th>Код	</th>						
			<td><%=u.text_field :card_code  %></td>				
		</tr>					
		<tr>
			<th>Факультет</th>				
			<td><%= u.collection_select(:faculty_id, @faculties, :id, :name,
				{:prompt => 'Выберите факультет'},
				{:onchange => "#{remote_function(:url => {:action => "update_departments"},
				:with => "'id='+value")}"})%></td>							
		</tr>			
		<tr>
			<th>Кафедра</th>
			<td>
				<div id="departments">
					<%= render :partial => 'shared/departments', :object => @departments%>
				</div>						
			</td>							
		</tr>								
		<tr>
			<th>Специальность</th>
			<td>
				<div id="specialties">
					<%= render :partial => 'shared/specialties', :object => @specialties%>						
				</div>					
			</td>				
		</tr>					
		<tr>
			<th>Группа</th>
			<td>
				<div id="groups">
					<%= render :partial => 'shared/groups', :object => @groups%>						
				</div>	
			</td>
		</tr>
		<tr>
			<th>Курс</th>							
			<td><%=u.select :current_year, 1..5 %></td>				
		</tr>				
		<tr>
			<th>Электронная почта</th>
			<td><%=u.text_field :email %></td>
		</tr>			
		<tr>
			<th>Форма обучения</th>				
			<td>			
				<%=u.radio_button :day_time,true%>Дневная
				<%=u.radio_button :day_time,false%>Заочная				
			</td>
		</tr>
		<tr>
			<th>Активный</th>							
			<td>
				<%=u.radio_button :active,true%>Да
				<%=u.radio_button :active,false%>Нет				
			</td>		
		</tr>
		<%if params[:user_id]%>	
		<tr>
			<td><%=link_to "Изменить пароль",:action => 'password_edit',:user_id =>params[:user_id],:sort_param_key => params[:sort_param_key],:sort_param_value => params[:sort_param_value]%></td>
		</tr>
		<%end%>	
		<tr>
										
						
		</tr>	
	</table>
</div>
