<% error_messages_for(@user)%>
<%@page_title = 'User login'%>


<%=form_tag(:action => 'attempt_login') do%>
	<table>
		<tr>
			<td>&nbsp;</td>
			<td><%= label_tag(:username)%></td>
			<td><%= text_field_tag(:username)%></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= label_tag(:password)%></td>
			<td><%= password_field_tag(:password)%></td>
		</tr>
		<tr>	
			<td>&nbsp;</td>
			<td>&nbsp;</td>			
			<td>						
				<%= select_tag :role_id, options_for_select(@all_roles)%>
				
			</td>
		</tr>			
			
	</table>
	<div id='save_button'>
		<td><%= submit_tag("Log In")%></td>
	</div>
<%end%>